
body{
    background-color:black;
}
p{
    color:#c3c3c3;
    font-size: 150px;
    font-family: 'Poppins', sans-serif;
    text-align: center;
    vertical-align: middle;
    mix-blend-mode: difference;
}
