
body{
    background-color:#000000;
    margin-top: 64px;
}
*{
    color:#aaaaaa;
    font-size: 120px;
    font-family: 'Poppins', sans-serif;
    text-align: center;
    margin:0 auto;
}

#date{
    font-size: 48px;
}
